// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)

+font(roboto-black, roboto-black)
=black
	font-family: "roboto-black", Arial, sans-serif 
%gradient-line
	background-image: linear-gradient(to right, #734c33 0%, #876242 20%, #e2c98f 50%, #a3875e 68%, #816344 70%, #634026 85%, #f5c955 100%)
%gradient-line_op
	background-image: linear-gradient(to right, rgba(#734c33, .5) 0%, rgba(#876242, .5) 20%, rgba(#e2c98f, .5) 50%, rgba(#a3875e, .5) 68%, rgba(#816344, .5) 70%, rgba(#634026, .5) 85%, rgba(#f5c955, .5) 100%)
html
	font-size: 62.5%
	+r(1050)
		font-size: 56% 
body
	// +light
	font-family: "Calibri Light", "Helvetica", sans-serif 
	font-size: 2rem
	line-height: 1.4

a
	text-decoration: none
// common blocks
.container
	max-width: 1200px
	padding: 0 3rem  
	margin: 0 auto 
	+clr
.logo
	+hide-text
	width: 175px
	height: 45px   
	display: inline-block
.title-wrap
	position: relative
	z-index: 1
	overflow: hidden

.title
	color: #b3810a
	font-size: 3.6rem
	text-transform: uppercase
	position: relative
	display: inline-block
	padding-bottom: 3px 
	margin: 2rem 0 
	z-index: 2
	&:after
		content: ''
		position: absolute
		bottom: 0
		left: 48%
		margin-left: -4rem 
		width: 8rem
		height: 2px
		background: #B3810A 
	&_left
		&:after
			left: 0
			margin-left: 0
	&_mod
		span
			background: #fff 
			display: inline-block
			position: relative
			padding: 0 3rem
			margin-left: -3rem 
			&:before
				content: ''
				position: absolute
				top: 50%
				margin-top: -2px
				height: 4px
				left: -1000px
				right: -2000px 
				z-index: -2 
				@extend %gradient-line 
			// &:before
			// &:after
	&_noline
		&:after
			display: none
.title-md
	position: relative
	color: #b3810a
	font-size: 2.4rem
	font-weight: 100
	margin-bottom: 2rem  
	span
		font-size: 3.6rem 
	&:after
		content: ''
		width: 8rem
		height: 2px
		position: absolute
		left: 0
		bottom: 0   
		background: #b3810a 
.title-sm
	font-size: 2rem
	font-weight: bold
	color: #4a2005  
	margin: 4rem 0 
	font-family: "Calibri", sans-serif 

.btn
	padding: 1.4rem 3.8rem 1.1rem 
	border-radius: 5px
	+black
	font-size: 1.4rem
	line-height: 1
	display: inline-block
	border: 1px solid #cebe93
	background: linear-gradient( to top, #c6bb9e 0%, #eee2c0 100%)
	text-shadow: 0px 1px 0px rgba(255, 238, 186, 0.73)
	color: #857f6e
	text-transform: uppercase
	box-shadow: 0px 2px 3px 0px #716e67, inset 0px 1px 0px 0px #faf2d2, inset 1px 0px 0px 0px #faf2d2
	+tr(background .25s)
	&:hover
		background: linear-gradient( to top, darken(#c6bb9e, 5%) 0%, darken(#eee2c0, 5%) 100%)
	&_lg
		font-size: 1.8rem 
		padding: 1.6rem 2rem 1.4rem 
		text-align: center
	&_yellow
		border: 1px solid #ffed8c
		border-right-color: transparent
		border-bottom-color: transparent
		border-radius: 3px
		background: linear-gradient( to top, #ddb23e 0%, #f4c64c 100%)
		box-shadow: 2px 2px 2px rgba(0,0,0, .8)
		color: #4c2105
		text-shadow: 1px 1px 1px rgba(255,255,255, .3)
		&:hover
			background: linear-gradient( to top, darken(#ddb23e, 5%) 0%, darken(#f4c64c, 5%) 100%)

.btn-action
	position: relative
	padding: 1.4rem 1.3rem 0.8rem 
	border: 1px solid #f6e6b8
	+black
	color: #98917e
	text-shadow: 0px 1px 0px rgba(255, 238, 186, 0.73)
	display: inline-block
	font-size: 1.4rem 
	border-radius: 5px 
	background: linear-gradient( to top, #c7bc9f 0%, #eee1bf 100%)
	box-shadow: 0px 2px 3px 0px #716e67,inset 0px 1px 0px 0px #fffdde, inset 1px 0px 0px 0px #fffdde
	line-height: 1 
	+tr(background .3s)
	i
		display: inline-block
		vertical-align: middle
		margin-right: 1.5rem
	&:hover
		background: linear-gradient( to top, darken(#c7bc9f, 5%) 0%, darken(#eee1bf, 5%) 100%)

.page-title
	font-size: 7.8rem
	color: #6b482a
	text-align: center
	line-height: 1
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5)
.nav
	height: 6rem
	line-height: 6rem
	background: #936645  
	position: relative
	&:before
		content: ''
		position: absolute
		bottom: 100%
		left: 0
		right: 0
		height: 3px  
		@extend %gradient-line_op
	&:after
		content: ''
		position: absolute
		left: 0
		right: 0
		bottom: 0
		height: 3px 
		@extend %gradient-line

	&__list
		position: relative
		// +justify
		text-align: left
		li
			// margin-right: 3rem 
			font-size: 1.8rem
			line-height: 6rem  
			display: inline-block
		a
			color: #fff
			font-size: 1.8rem 
			padding: 0 10px 
			text-transform: uppercase
			+tr(color .3s)
			&:hover, &.is-active
				color: #ffcd48
			&.is-active
				font-weight: bold 
		// +r(1120)
		// 	text-align: left
		// 	li
		// 		a
		// 			padding: 0 10px 
		.menuFlexBtnText 
			position: absolute
			right: 0
			top: 0
.popup
	display: none
	position: absolute
	left: 0
	right: 0
	top: 8rem 
	z-index: 99 
	&__in
		margin: 0 auto
		font-size: 2rem 
		max-width: 360px
		border-radius: 5px 
		background: linear-gradient( to top, #c7bc9f 0%, #eee1bf 100%)
		box-shadow: 0px 2px 3px 0px #716e67,inset 0px 1px 0px 0px #fffdde, inset 1px 0px 0px 0px #fffdde
		border: 1px solid #f6e6b8
		padding: 2rem
	&__header
		font-family: "Calibri"  
		font-weight: bold
		color: #98917e
		text-shadow: 0px 1px 0px rgba(255, 238, 186, 0.73)
		font-size: 3rem
		text-align: center
		text-transform: uppercase 
		margin-bottom: 1.6rem 
	.field
		color: #4a2005
		+clr
		label
			float: left
			width: 8rem
			margin-right: 10px
		input
			border-radius: 5px 
			margin-bottom: 9px 
		&__input
			overflow: hidden
			input
				width: 100%
				height: 3.6rem
				padding: 1rem   
		label,
		input
			display: inline-block
			vertical-align: middle
		&_checkbox
			// cursor: pointer
			
			label
				width: 100% 
			// input
			// 	margin-bottom: 2px 
	&__formbuttton 
		text-align: center 
		margin-top: 2rem 
.checkbox
	position: relative
	cursor: pointer
	line-height: 1
	&__input
		position: absolute
		top: 0
		left: 0
		opacity: 0
		z-index: 2
	&__text
		width: 100%
		font-size: 13px
		cursor: pointer
		font-family: "Calibri" 
		i
			display: inline-block
			vertical-align: middle
			margin-right: 4px  
			width: 12px
			height: 12px
			border-radius: 2px
			background: #fff
			position: relative  
			top: -1px 
	.checkbox__input:checked+.checkbox__text i
		&:before
			content: ''
			position: absolute
			width: 10px
			height: 10px
			top: 1px
			left: 1px
			background-image: url(../img/check.svg)
			background-size: 10px 10px     
			background-repeat: no-repeat 
			display: block
			
		
	 


	


			
  



