.footer
	background: #B3810A 
	padding-top: 4.3rem 
	padding-bottom: 6.5rem
	position: relative
	&:before
		content: ''
		position: absolute
		left: 0
		right: 0
		top: 0
		height: 3px 
		@extend %gradient-line
	&__item
		float: left
		p
			color: #fff
			font-size: 1.6rem 
			a
				color: #fff
				font-weight: bold 
		&:first-child
			width: 22% 
		&:last-child
			float: right
		+r(930)
			float: none
			width: 100%
			margin-bottom: 10px  
		