.header
	background-size: cover 
	background-position: 50% 100%
	background-repeat: no-repeat 
	padding-bottom: 4rem 
	&__top
		+clr
		.logo
			float: left
			margin-top: 3rem
		.btn-action
			float: right
			margin-top: 3.5rem 
	.page-title
		margin-top: 3rem
	.nav
		margin-top: 13.5rem 
	&__button
		text-align: center
		margin-top: 2.8rem 