.article	
	margin: 0 -2.5rem
	font-size: 0
	+clr
	&__col
		display: inline-block
		width: 50% 
		padding: 0 2.5rem 
		font-size: 1.4rem 
		vertical-align: top
		margin-bottom: 3rem 
		+r(767)
			width: 100% 
	p
		color: #4a2005
		font-size: 2.0rem
		line-height: 1.1 
.cite
	background: #F5E8C8 
	padding: 5rem 0 
	margin-top: 3rem
	&__text
		text-align: center
		color: #4a2005
		max-width: 800px
		margin: 0 auto  
		p
			font-size: 2rem 
	&__header
		font-size: 3rem
		margin-bottom: 1rem 
.man
	.container
		position: relative
		+clr
	&__img,
	&__text
		width: 50%
	&__img
		position: absolute
		left: 0
		top: -1.5rem
		bottom: 0
		text-align: center
		+r(660)
			display: none
	&__text
		color: #4a2005
		font-size: 2rem 
		float: right
		padding: 11rem 0 16.5rem 
		line-height: 1.2 
		font-weight: 100 
		strong
			font-weight: bold 
		+r(660)
			width: 100%
			float: none 
		