<div class="footer">
	<div class="container">
		<div class="footer__item">
			<p>© 2015, TradingPRO</p>
		</div>
		<div class="footer__item">
			<p>офисный комплекс «Ботаник Тауэрз» </p>
			<p>ул. Саксаганского 121, 2-й этаж оф. 3 </p>
			<p>01032, Киев, Украина</p>
		</div>
		<div class="footer__item">
			<p>Если у Вас нет возможности посетить офис компании в рабочее время,</p>
			<p>договоритесь об индивидуальной встрече с менеджером:</p>
			<p>тел.: <a href="tel:+380 (044) 569 95 03">+380 (044) 569 95 03</a></p>
		</div>
	</div>
</div>