<header class="header" style="background-image: url(img/header_bg.jpg)">
	<div class="container">
		<div class="header__top">
			<a href="#" class="logo"><img src="img/logo.svg" alt="Trading pro">Trading pro</a>
			<button class="btn-action"><i class="i-phone"></i>ЗАКАЗАТЬ ЗВОНОК</button>
		</div>
		<div class="page-title">Ваши деньги работают на Вас</div>
	</div>
	<nav class="nav">
		<div class="container">
			<ul class="nav__list flexmenu">
				<li><a href="#" class="is-active">О проекте</a></li>
				<li><a href="#">Управление активами</a></li>
				<li><a href="#">Обучение</a></li>
				<li><a href="#">Аналитика и торговые сигналы LIVE</a></li>
				<li><a href="#">Статьи и публикации</a></li>
				<li><a href="#">Проптрейдинг</a></li>
			</ul>
		</div>
	</nav>
	<div class="header__button">
		<button class="btn btn_lg btn_yellow js-show-popup" data-popup="js-register-popup">ЗАРЕГИСТРИРОВАТЬСЯ</button>
	</div>
</header>